@page
@model GestionBibliotheque.Pages.Admin.CategoriesModel
@{
}
<h2 class="text-center mb-4">Liste des catégories</h2>
<div class="mt-3">
    <a asp-page="AjouterCategorie" class="btn btn-success">
        Ajouter une nouvelle categorie
    </a>
</div>
<br />
@* Affiche les erreurs globales *@
@if (!String.IsNullOrEmpty(Model.MessageErr))
{
    <div class="alert alert-danger" style="text-align : center">
        @Model.MessageErr
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="container">
    <div class="row g-4">
        @if (Model.categories.Count()> 0 )
        {
            foreach (var c in Model.categories)
            {
                <div class="col-md-4 col-lg-3">
                    <div class="card h-100 shadow-sm">


                            <img src="~/Images/categories/@c.Image" class="card-img-top" style="height:180px; " />

                        <!-- Contenu -->
                        <div class="card-body text-center">
                            <h5 class="card-title">@c.Nom</h5>
                            <p class="card-text">
                                @c.Description
                            </p>
                        </div>

                        <!-- Actions -->
                        <div class="card-footer text-center bg-white">
                            <a asp-route-id="@c.Id_categorie" asp-page ="ModifierCategorie" class="btn btn-warning btn-sm me-1">
                                Modifier
                            </a>
                            <a asp-page-handler="Delete" asp-route-id="@c.Id_categorie" class="btn btn-danger btn-sm">
                                Supprimer
                            </a>
                        </div>

                    </div>
                </div>
            }
        }
        else
        {
            <p class="text-center">Aucune catégorie trouvée</p>
        }

    </div>
</div>
